textarea {
    width: 100%;
    /* min-height: calc(100vh - 40px); */
    min-height: 100vh;
    padding: 1rem;
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.4;
    resize: none;
    outline: none;
    border: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    background-color: transparent;

    position: relative;
    top: 0px;
    font-family: var(--font-primary-thai-anuphan);
    font-weight: 450;
}

textarea::placeholder {
    color: var(--theme-fg);
    opacity: 65%;
}

.zoom-controls {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 4px;
    opacity: 0;
    transition: opacity 0.2s;
}

.textarea-container:hover .zoom-controls {
    opacity: 1;
}

.zoom-btn {
    width: 26px;
    height: 26px;
    border: none;
    background: transparent;
    border-radius: 100vmax;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.zoom-btn svg {
    width: 26px;
    height: 26px;
}

.zoom-btn:hover {
    background-color: var(--theme-accent);
}

.zoom-btn:hover svg {
    color: var(--theme-accent);
    filter: brightness(20%);
}

#reset-zoom {
    padding: 1rem 0.8rem;
    line-height: 0;

    font-size: 14px;
    border-radius: 100vmax;
    background-color: var(--PrimaryButtonsColors);

    width: fit-content;
    display: inline-block;
    text-align: center;
    border: none;
}

#reset-zoom:hover {
    background-color: var(--theme-accent);
}

#reset-zoom:hover span {
    color: var(--theme-accent);
    filter: brightness(20%);
}

@media (max-width: 350px) {
    .zoom-controls {
        opacity: 100% !important;
        right: 0;
        left: 50%;
        bottom: 30px;
        background-color: var(--toolbar-bg);
        outline: var(--theme-border) solid 1.5px;
        transform: translateX(-50%);
        min-width: fit-content;
        max-width: fit-content;
        padding: 0.4rem 0.5rem;
        border-radius: 100vmax;
        align-items: center;
    }

    #reset-zoom {
        padding: 1.18rem 0.8rem;
        background: var(--theme-accent);
    }

    #reset-zoom:hover {
        filter: brightness(80%);
    }

    #reset-zoom span {
        filter: brightness(0.3);
        font-weight: 500;
        color: var(--theme-accent-text);
    }

    .zoom-btn {
        height: 32px;
        width: 32px;
    }

    .zoom-btn svg {
        height: 28px;
        width: 28px;
    }
}